<h3>Estimados compañeros de la empresa {{ empresa.nombreoficial }}</h3>

<p>Por medio de la presente le informamos que es necesario que pasen por
nuestro centro a firmar las facturas de los servicios prestados antes de
las <strong>12 pm del dia 22 del presente mes</strong>, posterior a esta fecha cesaran
los servicios de infocomunicaciones con nuestra empresa, Atte
Grupo Administrativo del Nodo. </p>

{# Makes an absolute URL to the /images/logo.png file #}