{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div>Entidad </div>

        <div> Fecha Solicitud</div>

        <div> Fecha Ejecucion</div>

    </div>

</div>
    {% endblock body %}